<%- include('../partials/head.ejs') %>
    <%- include('userHeader.ejs') %>
        <div class="container col-12 col-xl-4">
            <h1 class="pb-3 text-center">Login</h1>
            <form method="post" action="/loginuser">
                <div class="form-outline mb-4">
                    <input type="email" name="email" id="email" class="form-control"  placeholder="Digite o email"/>
                    <label class="form-label" for="name">Email</label>
                </div>

                <div class="form-outline mb-4">
                    <input type="password" name="password" id="password" class="form-control" placeholder="Digite a senha"/>
                    <label class="form-label" for="cpf">Senha</label>
                </div>


                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">Logar</button>


            </form>
        </div>
        <%- include('../partials/footer.ejs') %>