<%- include('partials/head.ejs') %>
    <%- include('partials/header.ejs') %>

        <div class="container col-12 d-flex justify-content-center">
            <div class="container col-4 d-flex justify-content-center">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            Visita
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Cadstro de Visita</h5>
                            <p class="card-text">Cadastro e controlde de Visitas do Campus Afogados da Ingazeira.</p>
                            <a href="" class="btn btn-primary">Ir à Pagina</a>
                        </div>
                        <div class="card-footer text-muted">

                        </div>
                    </div>
                </div>
            </div>
            <div class="container col-4 d-flex justify-content-center">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            Visitante
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Cadstro de Visitante</h5>
                            <p class="card-text">Cadastre liste e edite os Visitante do Campus Afogados da Ingazeira.</p>
                            <a href="/visiter/new" class="btn btn-primary">Ir à Pagina</a>
                        </div>
                        <div class="card-footer text-muted">

                        </div>
                    </div>
                </div>
            </div>
            <div class="container col-4 d-flex justify-content-center">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            Portaria
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Cadstro de Portaria</h5>
                            <p class="card-text">Cadastre liste e edite os Porteiros/Vigilantes do Campus Afogados da Ingazeira.</p>
                            <a href="/doorman/new" class="btn btn-primary">Ir à Pagina</a>
                        </div>
                        <div class="card-footer text-muted">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include('partials/footer.ejs') %>